# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
new-env/

# Environment Variables (Secrets)
.env

# Models
src/models/

# Runtime Data
recordings/
*.mp4
*.avi
*.jpg

# Logs
*.log
system.log

# Mac
.DS_Store

# IDEs
.vscode/
.idea/
